## Data Load
## Load data from hawaii_measurements.csv & hawaii_stations.csv

In [16]:
# Import Dependecies
import os
import pandas as pd

In [17]:
# Reading the available data @measurements.csv, station.csv into pandas dataframe
hawaii_measurements = "Resources/hawaii_measurements.csv"
hawaii_stations = "Resources/hawaii_stations.csv"

hawaii_measure_df = pd.read_csv(hawaii_measurements)
hawaii_station_df = pd.read_csv(hawaii_stations)

In [18]:
hawaii_station_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [19]:
hawaii_measure_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [20]:
hawaii_measure_df.count()

station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64

In [21]:
hawaii_measure_df.describe()

               prcp          tobs
count  18103.000000  19550.000000
mean       0.160644     73.097954
std        0.468746      4.523527
min        0.000000     53.000000
25%        0.000000     70.000000
50%        0.010000     73.000000
75%        0.110000     76.000000
max       11.530000     87.000000

## Data Cleansing
### Replacing blanks with zeros

In [22]:
# Filling NaN values to '0' and Verify for NaN values
hawaii_measure_df.fillna(0,inplace=True)
hawaii_measure_df.isnull().sum()

station    0
date       0
prcp       0
tobs       0
dtype: int64

In [23]:
hawaii_measure_df.count()

station    19550
date       19550
prcp       19550
tobs       19550
dtype: int64

In [24]:
# Create a csv file with clean data
hawaii_measure_df.to_csv("Resources/clean_hawaii_measurements.csv",index=False)
hawaii_station_df.to_csv("Resources/clean_hawaii_stations.csv",index=False)