## Load the cleansed data into Database

In [15]:
#To emable to clean and re-run
!rm hawaii.sqlite

In [16]:
# Import Dependencies

import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Float

In [17]:
# Read the clean data set produced as part of Data Engineering part
clean_measure_df = pd.read_csv("Resources/clean_hawaii_measurements.csv")
clean_station_df = pd.read_csv("Resources/clean_hawaii_stations.csv")

In [18]:
clean_station_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [19]:
clean_measure_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06  0.00    73

In [20]:
# Create hawaii.sqllite database with measurements and station classes

# Create Measurement Class
class Measurement(Base): 
    __tablename__ = 'measurement'
    id = Column(Integer, primary_key=True)
    station = Column(String(50))
    date = Column(String(10))
    prcp = Column(Float(50))
    tobs = Column(Float(50))
    

class Station(Base):
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    station = Column(String(20))
    name = Column(String(50))
    latitude = Column(Float(50))
    longitude = Column(Float(50))
    elevation = Column(Float(50))

In [21]:
# Create hawaii.sqllite database connection
engine = create_engine("sqlite:///hawaii.sqlite")
conn = engine.connect()

#Delete exisitng data in the tables
Base.metadata.drop_all(engine)
engine.table_names()

#Create Tables
Base.metadata.create_all(engine)
#Create session
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [22]:
# Load data to Hawaii Database

clean_measure_df.to_sql(name='measurement', con=conn,if_exists='append',index=False)
clean_station_df.to_sql(name='station', con=conn, if_exists='append',index=False)

In [23]:
# Test that the insert works by fetching the first 5 rows for our stations table
conn.execute("select * from station").fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6),
 (6, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5),
 (7, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999995, 32.9),
 (8, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9),
 (9, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4)]

In [24]:
# Test that the insert works by fetching the first 5 rows for our measurements table
conn.execute("select * from measurement limit 5").fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65.0),
 (2, 'USC00519397', '2010-01-02', 0.0, 63.0),
 (3, 'USC00519397', '2010-01-03', 0.0, 74.0),
 (4, 'USC00519397', '2010-01-04', 0.0, 76.0),
 (5, 'USC00519397', '2010-01-06', 0.0, 73.0)]