## Load the cleaned data
### From clean_hawaii_measurements.csv and clean_hawaii_stations.csv into sqllite

In [ ]:
#!rm hawaii.sqlite 
# This is so that we can continue to delete the sqlite database and keep creating it again as we rerun our code
# We can decide to comment this out later if needed

In [1]:
# Import the dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
import os
from sklearn import preprocessing #Used for Normalized calculations
import seaborn as sns

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

# Import SQL Alchemy
import sqlalchemy
from sqlalchemy import create_engine, MetaData

# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

#Importing the Object Relationship Mapper (ORM)
from sqlalchemy.orm import Session

# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

In [5]:
# Create an engine to a SQLite database file called `hawaii.sqlite`
engine = create_engine("sqlite:///hawaii.sqlite")

In [6]:
# Create a connection to the engine called `conn`
conn = engine.connect()

In [2]:
# Use `declarative_base` from SQLAlchemy to model the Hawaii Stations table as an ORM class (Station)
# Make sure to specify types for each column, e.g. Integer, Text, etc.
# http://docs.sqlalchemy.org/en/latest/core/type_basics.html
Base = declarative_base()

class Station(Base):
    __tablename__ = 'stations'

    id = Column(Integer, primary_key=True)
    station = Column(Text)
    name = Column(Text)
    latitude = Column (Float)
    longitude = Column (Float)
    elevation = Column (Float)
   
    def __repr__(self):
        return f"id={self.id}, name={self.name}"
# More on __repr__: https://stackoverflow.com/questions/1984162/purpose-of-pythons-repr

In [3]:
class Measurement(Base):
    __tablename__ = 'measurements'

    id = Column(Integer, primary_key=True)
    station = Column(Text)
    date = Column(Text)
    prcp = Column (Float)
    tobs = Column (Float)
   
    def __repr__(self):
        return f"id={self.id}, name={self.name}"
# More on __repr__: https://stackoverflow.com/questions/1984162/purpose-of-pythons-

In [7]:
# create the stations and measurements tables in the database
Base.metadata.create_all(engine)

In [12]:
# Load the clean_hawaii_stations.csv
hawaii_stations_df = pd.read_csv("Resources/clean_hawaii_stations.csv", low_memory = False)

In [11]:
# Station Dataframe
hawaii_stations_df

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [13]:
hawaii_stations_df.dtypes

station       object
name          object
latitude     float64
longitude    float64
elevation    float64
dtype: object

In [ ]:
# Load the clean_hawaii_measurements.csv 
hawaii_measurements_df = pd.read_csv("Resources/clean_hawaii_measurements.csv", low_memory = False)